html
    head
        title=title
    body
        h1=heading
        ul
            li=method
            li=path
            li=randomNumber

//- each something of somethingElse
//-     fistlIne:
//-         secoundLine
